.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#img_titulo{
    width: 70px;
}

.container_titulo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.container .search{
    width: 38vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.container mat-form-field{
    width: 100%;
}

.container mat-form-field mat-error{
    text-align: center;
}

.container button{
    width: 75%;
}